COHERE_API_KEY='cuLqi3kx7nN0WgIw4x2ouoYf99AABvWpZsxZvRHc'
QDRANT_URL='https://c405751b-cd39-46ba-bea1-9dea9fb63542.us-east4-0.gcp.cloud.qdrant.io'
QDRANT_API_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.9zxJnyjuqMgjR_dVRKZBQ-nhsOMCuSjmer8td-r0Ahg'
NEON_DB_URL=psql 'postgresql://neondb_owner:npg_xYo1rhT5WUAJ@ep-shy-star-ahcfpmuv-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
SECRET_KEY=YOUR_SECRET_KEY